{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
